.new-expense{
    background-color: violet;
    pad: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 100%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 8px violet;

}
.new-expense button{
    font: inherit;
    cursor: pointer;
    padding: 2rem 2 rem;
    border: 1px solid rgb(40, 19, 40);
    background-color: rgb(37, 6, 37);
    color:  white;
    border-radius: 10px;
    margin-right:1rem;

}
.new-expense button :hover,
.new-expense button:active{
    background-color: brown;
    border-color: brown;
}
.new-expense button.alternative{
    color: #220131;
    border-color: transparent;
}
.new-expense button.alternative:hover,
.new-expense button.alternative:active{
    background-color: #ddb3f8;
}